
html, body{
    margin: 0;
    height: 100%;
}
.warning{
    font-size: 20px;
    color: red;
}

.button{
    margin: 5px 0 30px 0;
}

#change-panel{
    border-right: 1px solid black;
}

#info-panel{

}

.container {
    height: 100%;
}